:root {
    --dark-gray-hex: #323848;
    --dark-gray-rgb: 50, 56, 72;
    --orange-hex: #f79233;
    --orange-rgb: 247, 146, 51;
    --white-hex: #fff;
    --white-rgb: 255, 255, 255;
}

body {
    margin: 10px 20px;
    background: var(--white-hex);
    color: var(--dark-gray-hex);
    font-size: 16px;
    font-family: 'DM Sans', Arial, sans-serif;

    @media screen and (max-width: 950px) {
        margin: 9px 16px;
    }
}

header {
    box-sizing: border-box;
    height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 48px;
    border-radius: 8px;
    background-color: var(--orange-hex);

    /*
	 * In the Figma, the header has a y-value of 4px.
	 */
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 950px) {
        padding: 16px;
    }
}

/*
 * The image has a height of 21 pixels that overlaps with the logo,
 * resulting in an additional 5 pixels being added to the wrapper logo's
 * dimensions. This misalignment causes the logo to appear off-center. By
 * applying a flex display property, the image element fully encapsulates
 * the logo, ensuring no pixels extend beyond the intended boundaries and
 * maintaining proper alignment.
 */
.logo-picture {
    display: flex;
}

.menu-btn {
    order: 1;
    width: 68px;
    height: 68px;
    background-color: var(--white-hex);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 17px 19px;
    border: none;
}

.navigation {
    flex-grow: 1;
    margin-left: 16px;
    /*
	 * In the "Desktop - Open" page in the Figma, you can see
	 * that there is a 45.23px gap between the navigation
	 * and the menu button.
	 */
    margin-right: 43.61px;
    padding-right: 16px;
    transition: opacity 300ms ease, visibility 300ms ease, transform 300ms ease;

    @media screen and (max-width: 950px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: calc(100% - 20px);
        transform: translate(0, -2em);
    }

    &.visible {
        opacity: 1;
        pointer-events: auto;

        @media screen and (max-width: 950px) {
            transform: translate(0, 0);
        }
    }
}

.navigation-list {
    margin: 0;
    list-style: none;
    display: flex;
    gap: 34px;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 950px) {
        flex-direction: column;
    }
}

.navigation-list-a {
    text-decoration: none;
    color: var(--white-hex);
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 76px;
}

.cta-btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 24px;
    height: 48px;
    &:hover,
    &:focus {
        background-color: var(--orange-hex);
        color: var(--white-hex);
    }
}

.content-container {
    margin-block: 0;
    font-size: 1.25em;
    line-height: 32px;
    letter-spacing: 0.5px;

    @media screen and (max-width: 950px) {
        font-size: 1em;
    }
}

.section-title {
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 3.75em;
    line-height: 76px;
    letter-spacing: 0.5px;

    @media screen and (max-width: 950px) {
        font-size: 1.5em;
        line-height: 24px;
    }
}

.section-subtitle {
    margin: 0 0 0.5rem 0;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 22px;
    letter-spacing: 0.15px;
}

#hero-image {
    max-height: 354px;
    width: auto;
    max-width: 100%;
    place-self: center;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

footer {
    position: relative;
    padding: 22px;
    margin-top: 89px;
    border-radius: 0.5em;
    background-color: var(--dark-gray-hex);
    text-align: center;
    color: var(--white-hex);
    font-size: 1em;
    line-height: 24px;

    @media screen and (max-width: 950px) {
        margin-top: 114px;
    }
}

#back-to-top {
    position: absolute;
    top: -25px;
    right: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-hex);
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;

    @media screen and (max-width: 950px) {
        right: 50%;
        transform: translateX(50%);
    }
}

.arrow-icon {
    width: 16px;
    height: 21px;
}

/*
 * The purpose of this class is to center the
 * header wrapper after changing its height from
 * the full width of .width-container to 612px.
 * Additionally, it adds a gap between the
 * heading wrapper and the form.
 */
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.header-wrapper {
    max-width: 612px;
    text-align: center;

    @media screen and (max-width: 950px) {
        text-align: left;
    }
}

.content {
    padding: 64px 0;

    .width-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em 4em;
        align-items: center;

        @media screen and (max-width: 950px) {
            grid-template-columns: 1fr;
        }
    }
}

.width-container {
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 3em;

    @media screen and (max-width: 1000px) {
        padding-inline: 2em;
    }

    @media screen and (max-width: 700px) {
        padding-inline: 1em;
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    max-width: 100%;

    @media screen and (max-width: 950px) {
        align-items: start;
    }
}

.outline {
    box-sizing: border-box;
    padding: 12px 20px;
    border: 1px solid var(--dark-gray-hex);
    border-radius: 50px;
    font-size: 1em;
    color: var(--dark-gray-hex);
    line-height: 24px;
    letter-spacing: 0.5px;
}

.form-input {
    width: 100%;
    height: 48px;
    background-color: rgba(var(--dark-gray-rgb), 0.05);
}

.form-input::placeholder {
    color: var(--dark-gray-hex);
}

#name {
    margin-bottom: 29px;
}

#email {
    margin-bottom: 18px;
}

#submit {
    width: 96px;
    height: 48px;
    background-color: transparent;
}
