:root {
    --dark-gray-hex: #323848;
    --dark-gray-rgb: 50, 56, 72;
    --orange-hex: #f79233;
    --orange-rgb: 247, 146, 51;
    --white-hex: #fff;
    --white-rgb: 255, 255, 255;
}

body {
    margin: 0.625em 1.25em;
    background: var(--white-hex);
    color: var(--dark-gray-hex);
    font-size: 16px;
    font-family: 'DM Sans', Arial, sans-serif;

    @media screen and (max-width: 950px) {
        margin: 0.5625em 1em;
    }
}

header {
    box-sizing: border-box;
    height: 6.25em;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 3em;
    border-radius: 0.5em;
    background-color: var(--orange-hex);
    box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.25);

    @media screen and (max-width: 950px) {
        padding: 1em;
    }
}

/*
 * The image has a height of 21 pixels that overlaps with the logo,
 * resulting in an additional 5 pixels being added to the wrapper logo's
 * dimensions. This misalignment causes the logo to appear off-center. By
 * applying a flex display property, the image element fully encapsulates
 * the logo, ensuring no pixels extend beyond the intended boundaries and
 * maintaining proper alignment.
 */
.logo-picture {
    display: flex;
}

.menu-btn {
    order: 1;
    font-size: inherit;
    width: 4.25em;
    height: 4.25em;
    background-color: var(--white-hex);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.0625em 1.1875em;
    border: none;
}

.navigation {
    flex-grow: 1;
    margin: 0 4em 0 1em;
    transition: opacity 300ms ease, visibility 300ms ease, transform 300ms ease;

    @media screen and (max-width: 950px) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        transform: translate(0, 0.625em);
        margin: 0;
    }

    &.visible {
        opacity: 1;
        pointer-events: auto;

        @media screen and (max-width: 950px) {
            transform: translate(0, 0);
        }
    }
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 2.125em;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 950px) {
        flex-direction: column;
        background-color: var(--orange-hex);
        border-radius: 0.5em;
        padding: 1em 0;
        box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.25);
    }
}

.navigation-list-a {
    text-decoration: none;
    color: var(--white-hex);
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.03125em;
    line-height: 4.75em;
}

.cta-btn {
    display: inline-block;
    text-decoration: none;
    margin-top: 1.5em;
    height: 3em;
    &:hover,
    &:focus {
        background-color: var(--orange-hex);
        color: var(--white-hex);
    }
}

.content-container {
    margin-block: 0;
    font-size: 1.25em;
    line-height: 2rem;
    letter-spacing: 0.03125rem;

    @media screen and (max-width: 950px) {
        font-size: 1em;
    }
}

.section-title {
    margin: 0 0 1rem 0;
    font-weight: 700;
    font-size: 3.75em;
    line-height: 4.75rem;
    letter-spacing: 0.03125rem;

    @media screen and (max-width: 950px) {
        font-size: 1.5em;
        line-height: 1.5rem;
    }
}

.section-subtitle {
    margin: 0 0 0.5rem 0;
    font-weight: 500;
    font-size: 1.25em;
    line-height: 1.375rem;
    letter-spacing: 0.009375rem;
}

#hero-image {
    width: auto;
    max-width: 100%;
    place-self: center;
    border-radius: 1.5em;
}

button {
    cursor: pointer;
}

img {
    width: 100%;
    height: auto;
}

footer {
    position: relative;
    padding: 1.375em;
    margin-top: 5.5625em;
    border-radius: 0.5em;
    background-color: var(--dark-gray-hex);
    text-align: center;
    color: var(--white-hex);
    font-size: 1em;
    line-height: 1.5em;

    @media screen and (max-width: 950px) {
        margin-top: 7.125em;
    }
}

#back-to-top {
    position: absolute;
    top: -1.5625em;
    right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--orange-hex);
    width: 3.125em;
    height: 3.125em;
    box-shadow: 0 0.25em 1em 0 rgba(0, 0, 0, 0.25);
    border-radius: 50%;

    @media screen and (max-width: 950px) {
        right: 50%;
        transform: translateX(50%);
    }
}

.arrow-icon {
    width: 16px;
    height: 1.3125em;
}

/*
 * When setting a fixed height for the header wrapper,
 * it justifies the content to the left. The purpose of
 * this class is to center the header wrapper. Additionally,
 * it adds a gap between the heading wrapper and the form.
 */
.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.header-wrapper {
    max-width: 38.25em;
    text-align: center;

    @media screen and (max-width: 950px) {
        text-align: left;
        max-width: 100%;
    }
}

.content {
    padding: 4em 0;

    .width-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em 4em;
        align-items: center;

        @media screen and (max-width: 950px) {
            grid-template-columns: 1fr;
        }
    }
}

.width-container {
    max-width: 1400px;
    margin: 0 auto;
    padding-inline: 3em;

    @media screen and (max-width: 1000px) {
        padding-inline: 2em;
    }

    @media screen and (max-width: 700px) {
        padding-inline: 1em;
    }
}

#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 31.25em;
    max-width: 100%;

    @media screen and (max-width: 564px) {
        align-items: start;
    }
}

.outline {
    box-sizing: border-box;
    padding: 0.75em 1.25em;
    border: 0.0625em solid var(--dark-gray-hex);
    border-radius: 3.125em;
    font-size: 1em;
    color: var(--dark-gray-hex);
    line-height: 1.5em;
    letter-spacing: 0.03125em;
}

.form-input {
    width: 100%;
    height: 3em;
    background-color: rgba(var(--dark-gray-rgb), 0.05);
}

.form-input::placeholder {
    color: var(--dark-gray-hex);
}

#email {
    margin-top: 1.8125em;
}

#submit {
    width: 6em;
    height: 3em;
    margin-top: 1.125em;
    background-color: transparent;
}

.error-message {
    color: red;
    font-size: 0.875em;
    letter-spacing: 0.03125em;
    align-self: flex-start;
    padding-left: 1em;
    margin: 0.5em 0 0 0;
}
